academictorrents==2.3.3
albumentations==2.0.7
einops==0.8.1
ftfy==6.3.1
imageio==2.37.0
kornia==0.8.0
more_itertools==10.7.0
natsort==8.4.0
numpy==1.23.5
omegaconf==2.3.0
opencv_python==4.11.0.86
Pillow==11.2.1
pudb==2025.1
pytest==8.3.5
pytorch_lightning==1.6.5
PyYAML==6.0.2
PyYAML==6.0.2
regex==2024.11.6
Requests==2.32.3
scipy==1.15.3
setuptools==75.8.0
skimage==0.0
streamlit==1.45.1
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.51.2
typing_extensions==4.13.2
